.email-details {
  background-color: #f9f9f9; // 배경색
  padding: 20px; // 패딩
  border-radius: 10px; // 테두리 둥글게
  box-shadow: 0 2px 10px rgba(0,0,0,0.1); // 그림자 효과
  margin: 20px auto; // 중앙 정렬 및 마진
  max-width: 800px; // 최대 너비
  color: #333; // 글자색
  font-family: Arial, sans-serif; // 폰트

  h1 {
    color: #007bff; // 제목의 글자색
    margin-bottom: 20px; // 제목 아래 마진
  }

  p {
    line-height: 1.5; // 줄간격
    margin-bottom: 10px; // 문단 아래 마진
  }
}

.loading {
  text-align: center; // 로딩 텍스트를 중앙 정렬
  padding: 50px 0; // 패딩
}

.email-detail-container {
  padding: 20px;
  margin-left: 250px; /* 네브바의 폭에 맞게 조정 */
  box-sizing: border-box;
}

.email-detail-container h2 {
  margin-top: 0;
}

.email-detail-container ul {
  list-style: none;
  padding: 0;
}

.email-detail-container ul li {
  margin: 5px 0;
}

.email-detail-container a {
  color: #007bff;
  text-decoration: none;
}

.email-detail-container a:hover {
  text-decoration: underline;
}

.email-detail-container p {
  margin: 10px 0;
}
