.news-create-container {
  max-width: 800px;
  margin: auto;
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

  h2 {
    text-align: center;
    margin-bottom: 20px;
  }

  .form-group {
    margin-bottom: 15px;
  }

  .btn-secondary {
    width: 100%;
  }

  .btn-primary {
    width: 100%;
  }

  textarea {
    resize: vertical;
  }

  input[type="file"] {
    padding: 5px;
  }
}
